@model IEnumerable<Domowa_biblioteka.Models.Ksiazka1>

@{
    ViewData["Title"] = "Index";
}

<h4> Twoje Książki</h4>

<p>
    <a class="text-black" asp-action="Create">Utwórz nową pozycję: </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                    <a class="text-black"  asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a class="text-black" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a class="text-black" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
